.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tbody tr th,
.table-borderless tbody tr td {
  border: 0px;
}

.table-borderless thead tr.active th,
.table-borderless thead tr.active td,
.table-borderless tbody tr.active th,
.table-borderless tbody tr.active td {
  background-color: #e5e5e5;
}

.table-super-condensed thead tr th,
.table-super-condensed thead tr td,
.table-super-condensed tbody tr th,
.table-super-condensed tbody tr td {
  padding: 3px;
}

.popover {
  max-width: 100%;
}

.classification-up {
  color: #fff;
  background-color: #3a3;
}
.classification-down {
  color: #fff;
  background-color: #c44;
}

.blueteam {
    color: #337ab7;
}
.redteam {
    color: #d9534f;
}

/*
.playerselect {
    border: 2px;
    width: 90px;
}
*/

.winteam {
    font-weight: 700;
}
.loseteam {
}

.fixedcontainer {
    box-sizing: border-box;
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.scoreregion {
    text-align: center;
}

.scorecircle {
    height: 500px;
    width:  500px;
    background-color: #eee;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #555;
    display: inline-block;
    text-align: center;
}

.scoretext {
    line-height: 530px;
    font-size: 350px;
    font-weight: 800;
}

.nametable {
    font-size: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}
.namecell {
    width: 350px;
}

html {
    height: 100%;
}

body {
    height: 100%;

    background-image: url("../img/foosball_blur.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
