.blueteam {
    color: #337ab7;
}

.buttonB {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.buttonR {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.buttonBmini {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.buttonRmini {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}


.redteam {
    color: #d9534f;
}

.fixedcontainer {
    box-sizing: border-box;
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.scoreregion {
    text-align: center;
}


.scorecircle {
    height: 180px;
    width:  180px;
    background-color: #eee;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #555;
    display: inline-block;
    text-align: center;
}

.scoretext {
    line-height: 150px;
    font-size: 130px;
    font-weight: 800;
}

.scoretable {
    font-size: 30px;
    border: none;
}

.speedtable {
    font-size: 25px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}
.nametable {
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}
.namecell {
    width: 350px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

html {
    height: 100%;
}

body {
    height: 100%;

    background-image: url("../img/foosball_blur.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
